@font-face {
    font-family: Homework;
    src: url(../assets/font/homework.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/font/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: OpenSans;
    overflow: hidden;
    margin: 0 auto;
}

.banner {
    position: relative;
    height: 100%;
    background: url("../assets/img/banner-min-op.jpg") no-repeat 100% 100%;
    background-size: cover;
}

.logo {
    font-family: Homework;
    font-size: 120px;
    color: #FF0000;
    text-align: center;
}

.content {
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.social {
    text-align: center;
    margin-bottom: 30px;
}

.soc {
    display: inline-block;
    margin: 10px 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.soc a {
    display: block;
    height: 100%;
    text-align: center;
}

.vk {
    background: no-repeat url("../assets/img/vk.png");
    background-size: 100%;
}

.fb {
    background: no-repeat url("../assets/img/fb.png");
    background-size: 100%;
}

.inst {
    background: no-repeat url("../assets/img/inst.png");
    background-size: 100%;
}

.phones {
    text-align: center;
}

.phones img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
}

.life, .ks {
    display: inline-block;
    padding: 10px 20px;
}

.map {
    width: 650px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid #000000;
}