@font-face {
    font-family: Homework;
    src: url(font/homework.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(font/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: OpenSans;
    overflow: hidden;
    margin: 0 auto;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.banner {
    position: relative;
    height: 100%;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("img/TNR-banner.jpg") no-repeat 100% 100%;
    background-size: cover;
}

.logo {
    font-family: Homework;
    font-size: 120px;
    text-shadow: 5px 5px 10px #000000;
    color: #FF0000;
    text-align: center;
    padding-top: 15px;
}

.content {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #000000;
}

.social {
    text-align: center;
    margin: 10px 0;
}

.soc {
    display: inline-block;
    margin: 10px 30px;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    box-shadow: 5px 5px 10px #000000;
}

.soc a {
    display: block;
    height: 100%;
    text-align: center;
}

.vk {
    background: no-repeat url("img/vk.png");
    background-size: 100%;
}

.fb {
    background: no-repeat url("img/fb.png");
    background-size: 100%;
}

.inst {
    background: no-repeat url("img/inst.png");
    background-size: 100%;
}

.phones {
    text-align: center;
    text-shadow: 5px 5px 10px #000000;
}

.phones img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
}

.life, .ks {
    display: inline-block;
    padding: 10px 20px;
}

.map {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #000000;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .banner {
        background: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
        ),
        url("img/TNR-banner.jpg") no-repeat 50% 100%;
        background-size: cover;
    }

    .logo {
        font-size: 200px;
        padding-top: 5px;
    }

    .content {
        width: 80%;
        font-size: 30px;
        margin-top: -15px;
    }

    .soc {
        margin: 10px 45px;
        width: 80px;
        height: 80px;
        border-radius: 80px;
    }

    .phones {
        font-size: 25px;
    }

    .map {
        width: 75%;
        height: 240px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .logo {
        font-size: 230px;
        padding-top: 5px;
    }

    .content {
        width: 85%;
        font-size: 40px;
        margin: -10px auto;
    }

    .social {
        margin: 30px 0;
    }

    .soc {
        margin: 25px 60px;
        width: 120px;
        height: 120px;
        border-radius: 120px;
    }

    .phones {
        font-size: 45px;
        margin: 20px auto 30px;
    }

    .phones img {
        width: 45px;
        height: 45px;
        border-radius: 45px;
        vertical-align: middle;
    }

    .map {
        width: 75%;
        height: 350px;
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape) {
    .logo {
        font-size: 110px;
    }

    .content {
        font-size: 22px;
        width: 90%;
        margin-top: -10px;
    }

    .social {
        margin: 0;
    }

    .soc {
        margin: 10px 40px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .phones {
        font-size: 22px;
    }

    .phones img {
        width: 24px;
        height: 24px;
        border-radius: 24px;
    }

    .map {
        width: 45%;
        height: 150px;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
    .logo {
        font-size: 100px;
        padding-top: 0;
    }

    .content {
        font-size: 20px;
        width: 100%;
        margin-top: -15px;
    }

    .social {
        margin: 0;
    }

    .soc {
        margin: 10px 30px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .phones {
        font-size: 22px;
        width: 45%;
    }

    .phones img {
        width: 24px;
        height: 24px;
        border-radius: 24px;
    }

    .life, .ks {
        display: block;
        padding: 10px 20px;
    }

    .phones, .map {
        vertical-align: middle;
        display: inline-block;
    }

    .map {
        width: 45%;
        height: 150px;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
    .banner {
        background:
                linear-gradient(
                        rgba(0, 0, 0, 0.6),
                        rgba(0, 0, 0, 0.6)
                ),
                url(img/TNR-banner.jpg) no-repeat 85% 100%;
        background-size: cover;
    }

    .logo {
        font-size: 230px;
        padding-top: 25px;
    }

    .content {
        width: 100%;
        font-size: 50px;
    }

    .social {
        margin: 5px 0;
    }

    .soc {
        margin: 40px 60px;
        width: 130px;
        height: 130px;
        border-radius: 130px;
    }

    .phones {
        font-size: 40px;
        padding-top: 15px;
    }

    .life, .ks {
        padding: 5px 20px;
        font-size: 55px;
    }

    .phones img {
        width: 75px;
        height: 75px;
        border-radius: 75px;
        vertical-align: -10px;
    }

    .map {
        width: 80%;
        height: 340px;
        margin: 50px auto;
    }
}
