@font-face {
    font-family: Homework;
    src: url(font/homework.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(font/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}

html, body {
    height: 100%;
    font-family: OpenSans;
    overflow-y: auto;
    margin: 0 auto;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    position: relative;
    min-height: 100%;
    padding-bottom: 15px;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("img/TNR-banner.jpg") no-repeat 100% 100%;
    background-size: cover;
}

.logo {
    font-family: Homework;
    font-size: 120px;
    text-shadow: 5px 5px 10px #000000;
    color: #FF0000;
    text-align: center;
    padding-top: 5px;
}

.content {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #000000;
    margin-top: -10px;
}

.social {
    text-align: center;
    margin: 10px 0 5px;
}

.soc {
    display: inline-block;
    margin: 10px 30px;
    width: 55px;
    height: 55px;
    border: 3px solid white;
    border-radius: 58px;
    box-shadow: 5px 5px 10px #000000;
}

.soc a {
    display: block;
    height: 100%;
    text-align: center;
}

.vk {
    background: no-repeat url("img/vk.png");
    background-size: 100%;
}

.fb {
    background: no-repeat url("img/fb.png");
    background-size: 100%;
}

.inst {
    background: no-repeat url("img/inst.png");
    background-size: 100%;
}

.phones, .adress-info, .maps {
    text-align: center;
    text-shadow: 5px 5px 10px #000000;
}

.phones img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
}

.life, .ks {
    display: inline-block;
    padding: 10px 20px;
}

.berest, .khrest {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 20px 0 20px;
}

.berest_map, .khrest_map {
    height: 150px;
    width: 310px;
}

.berest_info, .khrest_info {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .logo {
        font-size: 110px;
    }

    .content {
        width: 85%;
        font-size: 22px;
    }

    .berest, .khrest {
        margin: 15px 5px 0 5px;
    }
}

@media (max-width: 663px) {
    .berest_map, .khrest_map {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 568px) {
    .logo {
        font-size: 90px;
        padding-top: 0;
    }

    .content {
        font-size: 17px;
    }

    .social {
        margin: 5px 0 0;
    }

    .soc {
        margin: 5px 30px;
        width: 45px;
        height: 45px;
        border-radius: 48px;
    }

    .phones, .adress-info {
        font-size: 14px;
    }

    .berest, .khrest {
        margin: 15px 0;
    }
}

@media (max-width: 528px) {
    .berest, .khrest {
        display: block;
        margin: 5px 0;
    }

    .berest_map, .khrest_map {
       display: none;
    }

    .life, .ks {
        font-size: 17px;
        display: block;
    }

    .berest_info, .khrest_info {
        font-size: 17px;
        font-weight: 100;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 80px;
        padding-top: 10px;
    }

    .content {
        margin-top: 0;
    }

    .social {
        margin: 15px 0 10px;
    }

    .phones, .adress-info {
        font-size: 16px;
    }

    .life, .ks, .berest_info, .khrest_info {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .banner {
        background:
                linear-gradient(
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65) ),
                        url(img/TNR-banner.jpg) no-repeat 80% 100%;
        background-size: cover;
    }

    .logo {
        font-size: 65px;
    }

    .content {
        font-size: 13px;
    }

    .soc {
        margin: 5px 20px;
        width: 40px;
        height: 40px;
        border-radius: 43px;
    }

    .phones, .adress-info {
        font-size: 13px;
    }

    .life, .ks, .berest_info, .khrest_info {
        font-size: 16px;
    }
}
